:root {
  --primary: #4f46e5;
  --bg: #f5f7fb;
  --card: #ffffff;
  --text: #1f2937;
  --radius: 16px;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Arial;
  background: var(--bg);
  color: var(--text);
}

/* HEADER */
header {
  background: linear-gradient(135deg, #4f46e5, #7c3aed);
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

/* CONTENEDOR */
.container {
  max-width: 420px;
  margin: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* TARJETAS */
.card {
  background: var(--card);
  padding: 18px;
  border-radius: var(--radius);
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* INPUTS */
input, select {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 14px;
  box-sizing: border-box;
}

/* BOTONES */
button {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  background: var(--primary);
  color: white;
  transition: 0.2s;
}

button.secondary {
  background: #e5e7eb;
  color: black;
}

button:hover {
  transform: scale(1.03);
}

/* LISTA */
.task {
  background: white;
  padding: 16px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* PRIORIDADES */
.alta { border-left: 6px solid #ef4444; }
.media { border-left: 6px solid #f59e0b; }
.baja { border-left: 6px solid #22c55e; }

/* COMPLETADA */
.completada {
  opacity: 0.5;
  text-decoration: line-through;
}

/* BOTONES INTERNOS */
.actions {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.actions button {
  flex: 1;
  font-size: 13px;
  padding: 10px;
}

.input-fecha {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ddd;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6b7280;
  font-size: 14px;
  cursor: pointer;
}

.input-fecha .icono {
  font-size: 16px;
}

.placeholder {
  color: #9ca3af; /* gris claro tipo placeholder */
}

.input-fecha {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ddd;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

/* Cuando ya hay fecha */
.input-fecha.activo span {
  color: #111; /* negro */
}